<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.efithealth">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <permission
        android:name="com.efithealth.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.efithealth.app.permission.C2D_MESSAGE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_fithealth"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.activity.MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".app.activity.FindActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".app.activity.MemberCluMenubActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="image.TestPicActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="image.ImageGridActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="image.PublishedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="image.PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="image.CropImgActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <!-- 课程管理 -->
        <activity
            android:name=".app.activity.FragmentClassManage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 图片查看 -->
        <activity
            android:name="uk.co.senab.photoview.image.ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>

        <!-- 开屏页 -->
        <activity
            android:name=".app.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 登陆 -->
        <activity
            android:name=".app.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 注册 -->
        <activity
            android:name=".app.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 忘记密码 -->
        <activity
            android:name=".app.activity.ForgetPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 修片课程图片 -->
        <activity
            android:name=".app.activity.OnlineCourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditDialogStyle">
        </activity>
        <!-- 注册协议 -->
        <activity
            android:name=".app.activity.RegisterAgreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 设置密码 -->
        <activity
            android:name=".app.activity.PassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 设置昵称 -->
        <activity
            android:name=".app.activity.NickNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 重置密码 -->
        <activity
            android:name=".app.activity.ResetPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 聊天页面 -->
        <activity
            android:name=".app.activity.MipcaActivityCapture"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 修改收货地址 -->
        <activity
            android:name=".app.activity.RevampAddress"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 图片查看 -->
        <activity
            android:name=".app.activity.ShowImgActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 二维码 -->
        <activity
            android:name=".app.activity.QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 搜索 -->
        <activity
            android:name=".app.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 俱乐部列表 -->
        <activity
            android:name=".app.activity.ClubListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 退出登录 -->
        <activity
            android:name=".app.activity.ExitConfimActivity"
            android:theme="@style/MyDialogStyleBottom">
        </activity>
        <!-- 修改个人信息 -->
        <activity
            android:name=".app.activity.MyInfo"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 相册 -->
        <activity
            android:name=".app.Photo.ChoosePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <activity
            android:name=".app.Photo.ChoosePhotoActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <activity
            android:name=".app.Photo.ChoosePhotoActivity3"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <activity
            android:name=".app.Photo.ChoosePhotoActivity4"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <activity
            android:name=".app.Photo.ChoosePhotoActivity5"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 照片墙 -->
        <activity
            android:name=".app.activity.ImageWall"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 发布状态 -->
        <activity
            android:name=".app.activity.PublishActiviy"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 发布课程 -->
        <activity
            android:name=".app.fragment.IssueCourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 扫一扫 -->
        <activity
            android:name=".app.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>

        <!-- 聊天页面 -->
        <activity
            android:name=".app.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 添加好友 -->
        <activity
            android:name=".app.activity.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible">
        </activity>
        <!-- 群组详情 -->
        <activity
            android:name=".app.activity.GroupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 群组列表 -->
        <activity
            android:name=".app.activity.GroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".app.activity.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 聊天室详情 -->
        <activity
            android:name=".app.activity.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>

        <!-- 新建群组 -->
        <activity
            android:name=".app.activity.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 退出群组提示框 -->
        <activity
            android:name=".app.activity.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom">
        </activity>
        <!-- 群组选人 -->
        <activity
            android:name=".app.activity.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 地图 -->
        <activity
            android:name=".app.activity.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>

        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name=".app.activity.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 转发消息用户列表页面 -->
        <activity
            android:name=".app.activity.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 自定义的contextmenu -->
        <activity
            android:name=".app.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle">
        </activity>
        <!-- 自定义的alertdialog -->
        <activity
            android:name=".app.activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle">
        </activity>
        <activity
            android:name=".app.view.MyAlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle">
        </activity>
        <!-- 显示下载大图页面 -->
        <activity
            android:name=".app.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 下载文件 -->
        <activity
            android:name=".app.activity.ShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 黑名单 -->
        <activity
            android:name=".app.activity.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 播放video -->
        <activity
            android:name=".app.activity.PlayVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 公开的群聊列表 -->
        <activity
            android:name=".app.activity.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".app.activity.PublicChatRoomsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 语音通话 -->
        <activity
            android:name=".app.activity.VoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/nornal_style">
        </activity>
        <!-- 视频通话 -->
        <activity
            android:name=".app.activity.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 群聊简单信息 -->
        <activity
            android:name=".app.activity.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 群组黑名单用户列表 -->
        <activity
            android:name=".app.activity.GroupBlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <activity
            android:name=".app.activity.PublicGroupsSeachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <activity
            android:name=".app.activity.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible">
        </activity>
        <activity
            android:name=".app.activity.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <!-- choose video -->
        <activity
            android:name=".app.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".app.activity.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <!-- upload error log -->
        <activity
            android:name=".app.activity.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <!-- iOS offline push nick -->
        <activity
            android:name=".app.activity.OfflinePushNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <!-- robots list -->
        <activity
            android:name=".app.activity.RobotsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <!-- user profile -->
        <activity
            android:name=".app.activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>

        <!-- 群动态 -->
        <activity
            android:name=".app.activity.GroupDynamicActivity"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 群成员 -->
        <activity
            android:name=".app.activity.GroupPersonActivity"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 群管理 -->
        <activity
            android:name=".app.activity.GroupControl"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 群资料管理 -->
        <activity
            android:name=".app.activity.GroupDataControl"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- 个人主页 -->
        <activity
            android:name=".app.activity.MemberClubActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- MOB Share -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".app.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.easemob.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.efithealth.app"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.easemob.chat.EMGCMListenerService"
            android:exported="false">
        </service>

        <receiver
            android:name=".app.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.easemob.sdk.push"/>

                <category android:name="com.efithealth.app"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.sourceforge.simcpux.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <!-- gcm end -->


        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="syjsdz#efithealth"/>
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService"/>
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <!-- umeng appkey，可忽略 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53912a3156240b01a7075ed1">
        </meta-data>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8"/>

        <activity
            android:name=".app.activity.LunchListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".app.activity.LunchDetailActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>